body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 260px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 10px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button {
    height: 45px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #e0e0e0;
}
button.operator {
    background: #ff9800;
    color: white
}
button.equal {
    background: #4caf50;
    color: white;
    grid-column: span 2;
}
button.clear {
    background: #f44336;
    color: white;
    grid-column: span 2;
}